.back-to-top {
  background: $b2t-bg-color;
  bottom: $b2t-position-bottom;
  box-sizing: border-box;
  color: $b2t-color;
  cursor: pointer;
  left: $b2t-position-right;
  opacity: $b2t-opacity;
  padding: 0 6px;
  position: fixed;
  transition-property: bottom;
  z-index: $zindex-3;

  if (hexo-config('back2top.scrollpercent')) {
    width: initial;
  } else {
    width: 24px;

    span {
      display: none;
    }
  }

  &:hover {
    color: $sidebar-highlight;
  }

  &.back-to-top-on {
    bottom: $b2t-position-bottom-on;
  }

  +tablet-mobile() {
    left: $b2t-position-right-mobile;
    opacity: $b2t-opacity-hover;
  }
}
body {
  background-image:url(/images/preview.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:50% 50%;
  background-size: 100% 100%;
}
.main-inner{
	opacity: 0.8;
}
.header-inner{
	opacity: 0.8;
	z-index: 10;
}
//首页banner渐变色
.site-brand-container {
    background: linear-gradient(200deg, #2e80a5, #0c0c0b);
}